/* основний колір  #434455 */
/* другорядний колір заголовків h3, меню навігаці, лого #2E2F42 */
/* колір головного заголовка  #FFFFFF */
/* основний колір фону #FFFFFF */
/* колір лого "WEB" #4D5AE5 */

:root {
--color-primary: #434455;
--color-secondary:#2E2F42;
--color-background-primary:#FFFFFF;
--color-logo-links:#4D5AE5;
--color-pressed-state:#404BBF;
--color-text:#ffffff;
--color-text-btn:#4D5AE5;
--color-bgr-btn:#F4F4FD;
--color-border-btn:#E7E9FC;
}

body {
font-family: 'Roboto', sans-serif;
font-weight: 400;
background-color:var(--color-background-primary);

}
/* Скидування стилей списку */
.list {
list-style: none;
}
/* Скидування стилей посилань */
.link {
text-decoration: none;
}

/* ===========================HEADER================ */

.link:hover,
.link:focus {
    color:var(--color-pressed-state);
}

/* Колір для лого */
.letter {
    color:var(--color-logo-links);
}
.logo {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
color:var(--color-secondary);
text-decoration: none;
}

 .header-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color-secondary);
 }
.contact-link {
font-style: normal;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color-primary)
}
/* ===========================/ HEADER /================ */

/* ============================HERO===================== */
.section-hero {
background-color:var(--color-secondary);
}
.hero-title {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
color:var(--color-text); 
}
.hero-btn {
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--color-text);
width: 169px;
height: 56px;
cursor: pointer;
background-color: var(--color-logo-links);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border:none;
}
.hero-btn:hover,
.hero-btn:focus{
background-color:var(--color-pressed-state);
}
/* ============================ / HERO /===================== */
/* ============================ FEATURES SECTION ============ */
.features-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--color-secondary);
}
.features-subtitle {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color-primary);
}
/* ============================ /FEATURES SECTION/ ============ */

/* ============================ WORK SECTION ============ */
.work-title {
font-weight: 700;
font-size: 36px;
line-height: 40px;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--color-secondary);
}

/* ============================ / WORK SECTION / ============ */

/* ============================ TEAM SECTION ============ */
.team-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--color-secondary);

}
.name-employee-team { 
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--color-secondary);
}
.professions-team {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color-primary);

}

/* ============================ / TEAM SECTION /  ============ */
/* ============================ FOOTER  ============ */
.footer-page {

background-color: var(--color-secondary);
}
.copyright {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color-border-btn);
}
.logo-letter {
color: var(--color-bgr-btn);
}
/* ============================ /FOOTER/  ============ */

/* ======================= PROGECT PORTFOLIO =================*/
.project-btn {
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
border: none;
letter-spacing: 0.04em;
border-radius: 4px;
cursor: pointer;

}
.project-btn:hover,
.project-btn:focus {
background-color: var(--color-pressed-state);
color: var(--color-text);
}

.project-btn-all {
color:var(--color-text);
width: 69px;
height: 48px;
background-color: var(--color-pressed-state);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}
.project-btn-all:hover,
.project-btn-all:focus {
background-color: var(--color-logo-links);
}

.project-btn-site {
color: var(--color-text-btn);
width: 116px;
height: 48px;
background-color: var(--color-bgr-btn);
border: 1px solid var(--color-border-btn);

}
.project-btn-app {
color:var(--color-text-btn);
width: 116px;
height: 48px;
background-color: var(--color-bgr-btn);
border: 1px solid var(--color-border-btn);

}
.project-btn-design {
color: var(--color-text-btn);
width: 101px;
height: 48px;
background-color: var(--color-bgr-btn);
border: 1px solid var(--color-border-btn);
}
.project-btn-marketing {
color:var(--color-text-btn);
width: 126px;
height: 48px;
background-color: var(--color-bgr-btn);
border: 1px solid var(--color-border-btn);
}
.portfolio-project-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2px;
color: var(--color-secondary);
}
.portfolio-project-subtitle {
font-size: 16px;
line-height: 1.2;
color: var(--color-primary);
}

.portfolio-project-title:hover,
.portfolio-project-title:focus {
color:var(--color-pressed-state);

}
.portfolio-project-subtitle:hover,
.portfolio-project-subtitle:focus {
color:var(--color-pressed-state); 
}

/* =======================  /PROGECT PORTFOLIO/ =================*/