/* основний колір  #434455 */
/* другорядний колір заголовків h3, меню навігаці, лого #2E2F42 */
/* колір головного заголовка  #FFFFFF */
/* основний колір фону #FFFFFF */
/* колір лого "WEB" #4D5AE5 */

:root {
--color-primary: #434455;
--color-secondary:#2E2F42;
--color-background-primary:#FFFFFF;
--color-logo-links:#4D5AE5;
--color-pressed-state:#404BBF;
}

body {
    background-color: #ffffff;
}
/* Скидування стилей списку */
.list {
    list-style: none;
}


/* Колір для посилань */
.link{
    color: var(--color-secondary);
    text-decoration: none;
}
.address .link {
color: var(--color-primary);
}
/* Наведення на посилання */
.link:hover,
.link:focus {
    color:var(--color-pressed-state);
}

/* Колір для лого */
.letter {
    color:var(--color-logo-links);
}
.logo {
    color:var(--color-secondary);
    text-decoration: none;
}

/* Активний стан 
.link:active {
    color: var(--color-pressed-state);;
}*/